name: CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: 游닌 Checkout do c칩digo
      uses: actions/checkout@v3

    - name: 游냀 Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: 游닍 Instalar depend칡ncias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: 游빍 Executar testes
      run: |
        python -m unittest discover -s tests

    - name: 游냡 Build da imagem Docker
      run: |
        docker build -t flask-api .

    - name: 游 Deploy autom치tico (Render)
      if: success()
      run: echo "Deploy ser치 feito via Render (conectado manualmente ao GitHub)"
